{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" {% if name is none %}style="background-color: #FFFFFF; border-right:0px;"{% endif %}>
        {% if name is not none %}
            <h2>Hello, {{ name }}!</h2>
            <p>
                <a href="/logout" class="btn btn-primary btn-large">退出登录</a></p>
            </p>
        {% endif %}
    </div>
    <div id="rightMain" {% if name is none %}class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main" {% else %}class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main"{% endif %}>
        {% if name is none %}
            <h1>Hello</h1>
            <p>
                {{ wtf.quick_form(form) }}
            </p>
        {% else %}
            <h2 style="padding-bottom: 20px;">各课程进度</h2>
            <div class="table-responsive" style="display:none;">
                <table class="table table-striped">
                    <thead>
                        <thead>
                            {% for col in column_names_ch %}
                                <th> {{ col }} </th>
                            {% endfor %}
                        </thead>
                    </thead>
                    <tbody>
                        {% for i,row in enumerate(row_data) %}
                            <tr onclick="location.href='/works/{{row_data[i][2]}}';">
                                {% for col, row_ in zip(column_names,row) %}
                                    <td>{{ row_ }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="main1" class="row" style="height:{{len(row_data)*60+30}}px;"></div>
        {% endif %}
        <script language="JavaScript">
            var column_names_ch = {{ column_names_ch|safe }};
            var row_data = {{ row_data|safe }};
            var myChart = echarts.init(document.getElementById('main1'));
            var eWidth = $("#rightMain").outerWidth()*0.6+5;
            var list_data = [[],[],[],[]];
            $.each(row_data,function(n,value) {
                // alert(n + ' ' + value);
                // var tmp=value.toString().split(',');
                list_data[0].push(value[1]);  // 课程名，完成节点数，总节点数
                list_data[1].push(50*(n+1));
                list_data[2].push(value[3]);
                list_data[3].push(Math.round(parseInt(list_data[1][n])*100/list_data[2][n]));
            });
            // 指定图表的配置项和数据
            var option = {
                title: {

                },
                tooltip: {
                    trigger: 'item',
                    textStyle: {
                    },
                    formatter:function(params){
                        var tipTxt = '<div><p>'+params.name+'</p>';
                        tipTxt += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:'+params.color+';"></span>';
                        tipTxt += '<span> 课程节点数总数：'+list_data[2][params.dataIndex]+'</span><br>';
                        tipTxt += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:'+params.color+';"></span>';
                        tipTxt += '<span> 已完成课程节点数：'+list_data[1][params.dataIndex]+'</span><br>';
                        tipTxt += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:'+params.color+';"></span>';
                        tipTxt += '<span> 完成率：'+list_data[3][params.dataIndex]+'%</span></div>';
                        return  tipTxt
                    }
                },
                legend: {
                    data:['完成活动']
                },
                grid: {
                    left: '2%',
                    right: '2%',
                    top: 10,
                    containLabel: true
                },
                xAxis: {
                    show: false,
                    min: 0,
                    max: 100
                },
                yAxis: [{
                    type: 'category',
                    inverse: true,
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        show: true,
                        interval: 0,
                        margin: 20,
                        textStyle: {
                            color: '#333',
                            align:'right',
                            baseline:'middle',
                            fontFamily: 'Helvetica Neue',
                            fontSize: 15
                        },
                    },
                    data: list_data[0],
                },{
                    type: 'category',
                    inverse: true,
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#333',
                            fontFamily: 'Helvetica Neue',
                            fontSize: 15
                        },
                        formatter:function(params){
                            return  params+'%'
                        }
                    },
                    data: list_data[3]
                }],
                series: [{
                    name: '课程完成度',
                    type: 'bar',
                    barWidth : '15%',
                    label: {
                        show: false,
                        align: 'left',
                        position: [400, '25%'],
                        distance: 0,
                        formatter:function(params){
                            return
                        },
                    },
                    showBackground: true,
                    data: list_data[3]
                }]
            };
            if (option && typeof option === 'object') {
                myChart.setOption(option);
            };
            myChart.on('click',  function(params) {
                location.href='/works/'+row_data[params.dataIndex][2];
            });
            window.onresize = function(){
                myChart.resize();
                eWidth = $("#rightMain").outerWidth()*0.6+5;
            }
        </script>
        <p>&emsp;</p>
        <hr />
        <footer id="footer">
            <p>&copy; {{ year }} - Helper</p>
        </footer>
    </div>
</div>

{% endblock %}
