{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" {% if name is none %}style="background-color: #FFFFFF; border-right:0px;"{% endif %}>
        {% if name is not none %}
            <h2>Hello, {{ name }}!</h2>
            <p>
                <a href="/logout" class="btn btn-primary btn-large">退出登录</a></p>
            </p>
        {% endif %}
    </div>
    <div {% if name is none %}class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main" {% else %}class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"{% endif %}>
        {% if name is none %}
            <h1>Hello</h1>
            <p>
                {{ wtf.quick_form(form) }}
            </p>
        {% else %}
            <h2 style="padding-bottom: 20px;">各课程进度</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <thead>
                            {% for col in column_names_ch %}
                                <th> {{ col }} </th>
                            {% endfor %}
                        </thead>
                    </thead>
                    <tbody>
                        {% for i,row in enumerate(row_data) %}
                            <tr onclick="location.href='/works/{{row_data[i][2]}}';">
                                {% for col, row_ in zip(column_names,row) %}
                                    <td>{{ row_ }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div id="main1" style="width: 600px;height:400px;"></div>
        <script language="JavaScript">
            var column_names_ch={{ column_names_ch|safe }}
            var myChart = echarts.init(document.getElementById('main1'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'ECharts测试'
                },
                tooltip: {},
                legend: {
                    data:['销量']
                },
                xAxis: {

                },
                yAxis: {
                    data: column_names_ch
                },
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        <div id="main2" style="width: 680px;height:30px;"></div>
        <script>
            var themeEC4 = {
                color: [
                    '#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83',
                    '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'
                ]
            };
            var myChart = echarts.init(document.getElementById('main2'), themeEC4);
            var option = {
                grid: {
                    top: 5,
                    bottom: 5,
                    left: 5,
                    right: 50
                },
                title: {
                    text: percent + '%',
                    right: 0,
                    top: 'middle',
                    textStyle: {
                        fontWeight: 500,
                        fontSize: 12
                    }
                },
                color: ['#74d1fd', '#eee'],
                xAxis: {
                    show:false,
                    type : 'value',
                    boundaryGap : [0, 0]
                },
                yAxis: [
                    {
                        type : 'category',
                        data : [''],
                        axisLine:{show:false},
                        axisTick:[{
                            show:false
                        }]
                    }
                ],
                series: [
                    {
                        type: 'bar',
                        name: '已完成',
                        stack: '总量',
                        barMaxWidth: 20,
                        label: {
                            show: false,
                            position: 'inside',
                            formatter: '{c}%'
                        },
                        itemStyle: {
                            barBorderRadius: [10, 10, 10, 10]
                        },
                        data: [37.5]
                    },
                    {
                        type: 'bar',
                        name: '未完成',
                        stack: '总量',
                        barMaxWidth: 20,
                        label: {
                            show: false,
                            color: '#aaa',
                            position: 'inside' ,
                            formatter: '{c}%'
                        },
                        showBackground: true,
                        backgroundStyle: {
                            color: '#eee',
                            barBorderRadius: [10,10,10,10]
                        },
                        itemStyle: {
                            color: '#eee',
                            barBorderRadius: [0, 10, 10, 0],
                        },
                        silent:true,
                        data: [62.5]
                    }
                ]
            };
            myChart.setOption(option);
        </script>
        <p>&emsp;</p>
        <hr />
        <footer id="footer">
            <p>&copy; {{ year }} - Helper</p>
        </footer>
    </div>
</div>

{% endblock %}
