{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

<h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>    <p><a href="http://localhost:5000/logout" class="btn btn-primary btn-large">Logout &raquo;</a></p>
    {% if name is none %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    <div>
    <table>
    <thead>
    {% for col in column_names %}
        <th> {{ col }} </th>
    {% endfor %}
    </thead>
    <tbody>
    {% for row in row_data %}
    <tr >
{#        onclick="location.href='/works/{{ row_data[0][2] }}';"#}
        {% for col, row_ in zip(column_names,row) %}
        <td>{{ row_ }}</td>
        {% endfor %}
     <td onclick="location.href='/works/{{ row[2] }}';">{{ row_ }} Test</td>
{#       <td><a href="{{ url_for('studnet_works', classID=row_[0]) }}">test</a></td>#}

    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

{% endblock %}
