{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 我的课程进度</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/ie10-viewport-bug-workaround.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/fly.css" />
    <script src="/static/scripts/jquery-1.10.2.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/docs.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/static/scripts/html5shiv.min.js"></script>
        <script src="/static/scripts/respond.min.js"></script>
    <![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/scripts/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/echarts.min.js" /></script></head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">点击展开</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">在线学习支撑平台</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">主页</a></li>
                    {% if name is not none %}<li><a href="{{ url_for('change_password') }}">更改密码</a></li>{% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}

</body>
</html>
