{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" {% if name is none %}style="background-color: #FFFFFF; border-right:0px;"{% endif %}>
        {% if name is not none %}
            <h2>Hello, {{ name }}!</h2>
            <p>
                <a href="http://localhost:5000/logout" class="btn btn-primary btn-large">退出登录</a>
            </p>
        {% endif %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2>{{activityName }}</h2>
        <div class="panel panel-default">
            <div class="panel-heading">参考答案:</div>
            <div class="panel-body">
                <div>{{ post_text | safe }}</div>
                {% if editable==True %}
                    <div>
                        <a class="btn btn-primary" role="button" href="{{ url_for("solution",activityID=activityID)}}">编辑答案</a></button>
                        <a class="btn btn-default" href="{{ url_for("activities",courseID=courseID)}}">返回活动</a></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <a href="{{ url_for("student_works",classID=classID) }}">返回课程</a>
    {% if classID>0 %}
    <h2>确认参考答案：</h2>
                <p>
                    {{ wtf.quick_form(form) }}
                </p>
    {% endif %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <img src="data:image/png;base64, {{plot_url}}">
    </div>
</div>

{% endblock %}