{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" {% if name is none %}style="background-color: #FFFFFF; border-right:0px;"{% endif %}>
        {% if name is not none %}
            <h2>Hello, {{ name }}!</h2>
            <p>
                <a href="http://localhost:5000/logout" class="btn btn-primary btn-large">退出登录</a></p>
            </p>
        {% endif %}
    </div>
    <div {% if name is none %}class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main" {% else %}class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"{% endif %}>
        <h2 style="padding-bottom: 20px;">“{{className}}”课程活动完成详情</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    {% for col in column_names_ch %}
                        <th> {{ col }} </th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in row_data %}
                        <tr>
                            {% for col, row_ in zip(column_names,row) %}
                                <td onclick="location.href='/solution_details/{{row[0]}}';">{{ row_ }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p>&emsp;</p>
        <hr />
        <footer id="footer">
            <p>&copy; {{ year }} - 上海师范大学 教育技术系</p>
        </footer>
    </div>
</div>

{% endblock %}
